h2 {
    color: black;
    padding: 15px;
}

p {
    padding: 15px;
}

input {
    padding: 5px;
}

.disclaimer-style {
	padding-top: 10px;
	padding-bottom: 10px;
}

.clear-button {
	margin-top: 30px;
}

.compare-button {
	margin-top: 20px;
}

.copyright-disclaimer {
	margin-top: 100px;
}

.title-style {
	width: 50%;
	height: 50%;
}

.food1 {
	margin-right: 30px;
	margin-left: 30px;
}

.food2 {
	margin-left: 30px;
	margin-right: 30px;
}

.about-description {
	padding-left: 10%;
	padding-right: 10%;
}

#register-button {
    width: 200px;
}

.form-error {
	display: none;
}

.show-form-error {
	padding-top: 10px;
	padding-bottom: 0px;
	color: red;
}

#save-button {
	margin-right: 50px;
}

#container{
    text-align: center;
}

label.error {
   color: red;
}